h1 {
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: #fff;
}

h2 {
    font-family: "Montserrat";
    line-height: 1.5;
    font-weight: 700;
    color: #053e57;
}

h3 {
    font-family: "Montserrat";
    line-height: 1.5;
    font-weight: 500;
    color: #053e57;
}

p {
    color: #8f8f8f;
    font-size: .8rem;
}

a {
    z-index: 2;
}
/**** First Section *****/

/** The first one is top, second is left and right, third one is bottom **/
.container-fluid {
    padding: 3% 15% 7%;
}

#title {
    font-family: "Montserrat";
    background-color: #053e57;
    font-weight: 500;
    z-index: 0;
}

.main_title {
    padding-top: 5%;
}

/*** Nav Bar ***/

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
    z-index: 2;
}

.nav-link {
    font-family: "Montserrat";
    font-weight: normal;
}

/** Title Image **/
.image_title {
    width: 50%;
    transform: rotate(340deg);
    margin-bottom: 60%;
    position: absolute;
    right: 7.5%;
    top: 5%;
    z-index: 1;
}

.joke_button_text {
    font-family: "Montserrat";
    color: #fff;
}

/**** Second Section (About Me) *****/
#about_me {
    font-family: "Montserrat";
    background-color: #fff;
    font-weight: 500;
    position: relative;
    z-index: 1;
}

.my_profile_main_header {
    font-size: 2rem;
}

.my_profile_text {
    font-size: 1rem;
}

.my_achievement_headers {
    color: #053e57;
}

.my_achievements {
    padding-bottom: 2%;
    font-size: 2rem;
}

.my_achievements_text {
    font-size: 1rem;
}

.my_profile_icon {
    color: #053e57;
    padding: 3%;
}

.my_profile_icon:hover {
    color: #53C0F3;
}

/*** Portfolio *****/
.carousel_container {
    padding: 3% 15%;
}

#portfolio {
    font-family: "Montserrat";
    background-color: #075374;
    font-weight: 500;
    text-align: center;
}

.portfolio_header {
    font-family: "Montserrat";
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}

.instructions {
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}

/**** Images in Portfolio ****/

.hovereffect {
    width: 50%;
    height: 40%;
    float: left;
    margin-left: 25%;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    margin-bottom: 2%;
    background-color: #000;
}

.hovereffect .overlay {
    margin-top: 10%;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 5% 10%;
}

.hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-family: "Montserrat";
    font-weight: bold;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
}


/**Line after you click the image**/
.hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 50%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.hovereffect:hover h2:after {
    left: 25%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect a,
.hovereffect p {
    color: #FFF;
    opacity: 0;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: medium;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.hovereffect:hover a,
.hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/**** Social Media Section ****/
#social_media {
    font-family: "Montserrat";
    background-color: #075374;
    font-weight: 500;
    text-align: center;
}

.social_media_header {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 800;
    color: #fff;
}

.download_button {
    margin: 0% 5% 0% 5%;
}

/**** Skill Section ****/
#skills {
    font-family: "Montserrat";
    background-color: #fff;
    font-weight: 500;
    text-align: center;
}

.skill_container {
    padding-top: 2%;
}

.skill_header {
    color: #053e57;
    font-weight: 700;
    font-size: 2.5rem;
}

.skill_icon_text {
    font-weight: 500;
    font-size: 1.3rem;
    padding-top: 3.5%;
    color: #053e57;
}

.skill_icon_pic_and_text {
    color: #053e57;
    margin-bottom: 2%;
    margin-top: 2%;
}

.skill_icon_pic:hover {
    color: #53C0F3;
}

/**** Contact Me ****/
#contact_me {
    font-family: "Montserrat";
    background-color: #075374;
    font-weight: 500;
    text-align: center;
}

.contact_me_main_header {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 800;
    color: #fff;
    padding-top: 1%;
}

.contact_me_container {
    padding: 3% 15% .1%;
}

.sign {
    color: #fff;
    padding-bottom: 1%;
    padding-top: 1.5%;
}

/**** Responsiveness ****/
@media (max-width: 1028px) {

    .navigation_bar_cellphone_view{
        margin-top: 3%;
    }

    .my_logo {
        width: 0%;
        margin-top: 5%;
        font-size: smaller;
    }

    #title {
        text-align: center;
    }

    .container-fluid {
        padding: 0% 10% 0%;
    }

    .navbar {
        padding: 0 1rem 1.5rem;
    }

    .first_joke_button {
        width: 70%;
        height: 25%;
        font-size: .7rem;
        text-align: center;
    }

    h1 {
        font-family: "Montserrat";
        font-size: 2rem;
        line-height: 1.5;
        font-weight: 900;
        color: #fff;
    }

    .image_title {
        position: static;
        width: 100%;
        transform: rotate(340deg);
        margin-bottom: 5%;
        right: 0%;
        top: 0%;
    }

    /** Portfolio Section ***/

    /*** Skill Section ****/
    .skill_container {
        margin-left: 0%;
        margin-right: 0%;
    }
    
    .skill_header {
        color: #053e57;
        font-weight: 700;
        font-size: 2.5rem;
    }

    .skill_icon_text {
        font-weight: 500;
        font-size: .8rem;
        padding-top: 6%;
    }

    .skill_column_responsive {
        padding-right: 0%;
        padding-left: 0%;
    }
    
    .skill_icon_pic_and_text {

    }
}
